<main class="relative flex justify-center items-center h-auto min-h-screen w-full overflow-x-hidden overflow-y-auto bg-Dark_cyan">

  <!-- Top background image -->
  <img src="images/bg-pattern-top.svg" alt="This is the image for top-pattern format." class="h-auto w-4/6 absolute z-0 top-0 left-0 -translate-x-1/4 -translate-y-1/2" />

  <!-- Bottom background image -->
  <img src="images/bg-pattern-bottom.svg" alt="This is the image for bottom-pattern format." class="h-auto w-4/6 fixed z-0 bottom-0 right-0 translate-x-44 translate-y-2/3" />

  <!-- Box container -->
  <div class="relative z-10 flex justify-center items-center h-auto w-auto py-8">
      <app-box-container></app-box-container>
  </div>

</main>
